<html ng-app="app.todos">

<head>
    <title>Node Angular Todos</title>

    <!--load cdn styles-->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/angular-xeditable/0.7.0/css/xeditable.min.css">
    
    <!--load app styles-->
    <link rel="stylesheet" href="assets/css/style.css">

    <!--load cnd scripts-->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-xeditable/0.7.0/js/xeditable.min.js"></script>

    <!--load app-->
    <script src="assets/js/main/app.js"></script>
    <script src="assets/js/main/services/svTodos.js"></script>

</head>

<body ng-controller="todoController">

    <div class="container">
        <div class="jumbotron text-center">
             <h1>{{ appName }} <span class="label label-info">{{ todos.length }}</span></h1>  
        </div>

        <div id="todo-list" class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <div class="checkbox" ng-repeat="todo in todos">
                    <input type="checkbox" ng-model="todo.isDone" ng-change="updateTodo(todo)"> 
                    <a href="" ng-click="deleteTodo(todo)"><i class="fa fa-remove"></i></a>
                    <a href="" ng-click="textBtnForm.$show()" ng-hide="textBtnForm.$visible"><i class="fa fa-edit"></i></a>
                    <span ng-class="{ strike: todo.isDone}" editable-text="todo.text" e-form="textBtnForm" onaftersave="updateTodo(todo)" ng-keyup="$event.keyCode == 13 && createTodo()"> {{ todo.text }} </span>
                </div>

                <p class="text-center" ng-show="loading">
                    <span class="fa fa-spinner fa-spin fa-3x"></span>
                </p>

            </div>
        </div>

        <div id="todo-form" class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <form>
                    <div class="form-group">
                        <input type="text" ng-model="formData.text" class="form-control input-lg text-center" placeholder="What do you want to do?">
                    </div>

                    <button type="submit" class="btn btn-primary btn-lg" ng-disabled="!formData.text" ng-click="createTodo()">Add</button>
                </form>
            </div>
        </div>

    </div>
</body>

</html>